<% provide(:title, 'Home') %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
        </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
        </section>
        </aside>
              <div class="col-md-8">
                  <h3>Feed</h3>
              <%= render 'shared/feed' %>
              </div>
  </div>
<% else %>

<div class="center jumbotron">
<h1>Blog Demo</h1>
<p>This is the Home Page for Blog Demo</p>
<p> <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary"%> </p>
</div>

  <% end %>


