<ul class="media-list">
  <li class="media comment-item">

        <div class="media-left gravatar-image">
            <%= gravatar_for comment.user %>
        </div>
        <div class="media-body comment-content">
              <h4 class="media-heading"><%= comment.user.name %></h4>
              <p><%= comment.content %></p>
              <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

  <ul>

  </ul>

    </div>

</li>
</ul>
